body {
    margin: 0;
    box-sizing: border-box;
    background-color: #bbb;
    cursor: url("/Kadabraart/imagenes/cursor.png"), pointer;
}
canvas{
    display: block;
}

img{
    
    
}
* {
    box-sizing: border-box;
}
.loader_bg{
    position: fixed;
    z-index: 99999999;
    background-color: #666;
    width: 100%;
    height: 100%;
}
.loader{
    border: 0 solid transparent;
    border-bottom: 50%;
    width: 50vh;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.loader:before ,.loader:after{
    content: '';
    border: 1em solid #ddd;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 1s linear infinite;
    opacity: 0;
}
.loader:before{
    animation-delay: 0.5s; 
}
@keyframes loader {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        opacity: 0.25;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}
.wrapper{
    overflow: hidden;
    background-color: transparent;
}
canvas{
    display: block;
}
.Logo-contain {
    display: flex;
    justify-content: center;
    background-color: #111;
    background: linear-gradient(#111,#333);
}
.Logo-item {
    max-width: 250px;
    max-height: 250px;
}
.Logo-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.Drawing-container {
    column-count: 3;
    column-gap: 25px;
    padding: 20px;
}
.Drawing-item {
    break-inside: avoid;
    margin-bottom: 15px;
    
    border-radius: 10px;
    
}

.Drawing-item img {
    width: 95%;
    height: auto;
    
    display: block;
    border-left:4px #ccc solid;
    border-top:4px #ccc solid;
    border-bottom: 4px #222 solid;
    border-right: 4px #222 solid;
    background-color: rgba(0, 0, 0, 0.527);
}

@media (max-width: 1200px) {
    .Drawing-container { column-count: 3; }
}
@media (max-width: 800px) {
    .Drawing-container { column-count: 2; }
}
@media (max-width: 500px) {
    .Drawing-container { column-count: 1; }
}
.zoomable {
    cursor: zoom-in;
    cursor: url("/Kadabraart/imagenes/cursor zoom in.png"), zoom-in;
}

.zoomed {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;

    opacity: 0;              
    transition: opacity 0.5s ease, transform 0.5s ease; 
    transform: scale(0.8)   
}
.zoomed img {
    max-width: 90vw; 
    max-height: 90vh; 
    border-radius: 20px;
}
.zoomed.active {
    opacity: 1;               
    transform: scale(1);
    cursor: zoom-out;     
    cursor: url("/Kadabraart/imagenes/cursor zoom out.png"), zoom-out;
    min-width: 80vw;
    min-height: 80vh;
    
}
.zoomed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8); 
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 999; 
}

.zoomed-bg.active {
  opacity: 1;
}
#fondo{
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 30px 30px;
    position: fixed;      
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: -1;     
}


